---
version: "3.8"

services:
  mariadb:
    image: mariadb:10.9.4
    container_name: mariadb
    restart: unless-stopped
    network_mode: bridge
    environment:
      MARIADB_ROOT_PASSWORD: "{{ SECRET_MARIADB_PASSWORD }}"
    ports:
      - 3306:3306
    volumes:
      - mariadb-data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin:5.2.0
    container_name: phpmyadmin
    restart: unless-stopped
    network_mode: bridge
    environment:
      PMA_HOST: mariadb
      PMA_USER: root
      PMA_PASSWORD: "{{ SECRET_MARIADB_PASSWORD }}"
    depends_on:
      - mariadb
    labels:
      - traefik.enable=true
      - traefik.http.routers.phpmyadmin.rule=Host(`phpmyadmin.{{ SECRET_DOMAIN }}`)
      - traefik.http.routers.phpmyadmin.entrypoints=websecure
      - traefik.http.routers.phpmyadmin.tls.certresolver=letsencrypt
      - traefik.http.services.phpmyadmin.loadbalancer.server.port=80

volumes:
  mariadb-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ containers_base_dir }}/data/mariadb"
