[global]
workgroup = casalani.de
security = user
map to guest = Bad User
min protocol = SMB2
vfs objects = fruit streams_xattr
fruit:metadata = stream
fruit:model = Xserve
fruit:posix_rename = yes
fruit:veto_appledouble = no
fruit:wipe_intentionally_left_blank_rfork = yes
fruit:delete_empty_adfiles = yes

[Dateien]
path = /nas02/shares/Dateien
vfs objects = catia fruit streams_xattr
public = yes
only guest = yes
browseable = yes
read only = no
writeable = yes
create mask = 0644
directory mask = 0755

[dms-import]
path = /nas02/shares/dms-import
vfs objects = catia fruit streams_xattr
public = yes
only guest = yes
browseable = yes
read only = no
writeable = yes
create mask = 0644
directory mask = 0755

[nzb-import]
path = /nas02/shares/nzb-import
vfs objects = catia fruit streams_xattr
public = yes
only guest = yes
browseable = yes
read only = no
writeable = yes
create mask = 0644
directory mask = 0755
