[Unit]
Description=%i backup service with docker compose
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory={{ containers_base_dir }}/apps/rclone/%i
ExecStart=/usr/local/bin/docker-compose up

[Install]
WantedBy=multi-user.target
