---
version: "3.8"

services:
  unifi:
    image: jacobalberty/unifi:v7.1.66
    container_name: unifi
    restart: unless-stopped
    volumes:
      - unifi-data:/unifi
    ports:
      - 8080:8080
      - 3478:3478/udp
    environment:
      - TZ="Europe/Berlin"
    labels:
      - traefik.enable=true
      - traefik.http.routers.unifi.rule=Host(`unifi.{{ SECRET_DOMAIN }}`)
      - traefik.http.routers.unifi.entrypoints=websecure
      - traefik.http.routers.unifi.tls.certresolver=letsencrypt
      - traefik.http.services.unifi.loadbalancer.server.port=8443

volumes:
  unifi-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ containers_base_dir }}/data/unifi/data"
