---
kubernetes:
  children:
    master:
      hosts:
        k3s-01:
          ansible_host: 192.168.10.31
        k3s-02:
          ansible_host: 192.168.10.32
          rook_devices:
            - /dev/nvme0n1
        k3s-03:
          ansible_host: 192.168.10.33
          rook_devices:
            - /dev/sdb
      vars:
        ansible_user: ubuntu

    worker:
      hosts:
        k3s-04:
          ansible_host: 192.168.10.34
          rook_devices:
            - /dev/sdb

      vars:
        ansible_user: ubuntu
